

/* Estilo para la sección de productos destacados */
.featured-products {
  background-color: var(--dark-color); /* O usa directamente #000000 para negro puro */
  color: var(--white-color); /* Para asegurar que el texto sea visible sobre el fondo negro */
  padding: 20px; /* Ajusta según tus necesidades */
}

/*---------------------------------------
 HERO (Estilos Componente Bienvenida)          
-----------------------------------------*/
.hero {
  background-image: url("../img/cervezas.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  color: white;
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000;
}


.homepage {
  background-image: url('../img/fondo-cuellonegro-scaled.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.footer{
  background-image: url('../img/fondo-cuellonegro-scaled.jpg');
}

.footer p {
  color: white;
}

.modalidad{
  background-image: url('../img/fondo-cuellonegro-scaled.jpg');
}


