/* Estilos generales */
:root {
  --prepago-body-font-family: Arial, sans-serif;
  --prepago-body-line-height: 1.6;
  --prepago-body-background-color: #5826ae;
  --prepago-body-margin: 0;
  --prepago-body-padding: 0;
  --prepago-body-display: flex;
  --prepago-body-flex-direction: column;
  --prepago-body-justify-content: center;
}

.prepago-btn {
  font-family: var(--prepago-body-font-family);
  line-height: var(--prepago-body-line-height);
  background-color: var(--prepago-body-background-color);
  margin: var(--prepago-body-margin);
  padding: var(--prepago-body-padding);
  display: var(--prepago-body-display);
  flex-direction: var(--prepago-body-flex-direction);
  justify-content: var(--prepago-body-justify-content);
}

/* Estilos para el contenedor horizontal */
.horizontal-container {
  background-color: #081d27#ffffff  ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Estilos para las tarjetas */
.card {
  background-color: #e7e9e4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 45%;
  border-radius: 10px;
}

/* Estilos para el contenido centrado */
.centered-content {
  text-align: center;
}

/* Estilos para el contenedor de login */
.login-container {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

/* Estilos para formularios y radios */
.form-check {
  margin-bottom: 10px;
}

.radio-despacho {
  display: flex;
  align-items: center;
}

/* Estilos para botones y enlaces */
.prepago-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4a9b5d;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.prepago-btn:hover {
  background-color: #bc887e;
}

/* Estilos específicos para imágenes */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Centrar la imagen */
}

/* Estilos específicos para etiquetas h2 y h3 */
h2, h3 {
  color: #333;
}

/* Estilos específicos para la barra de navegación */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}
